
Desgin by Contract/.vs/Desgin by Contract/v16/Server/sqlite3/db.lock
Desgin by Contract/.vs/Desgin by Contract/v16/Server/sqlite3/storage.ide
Desgin by Contract/.vs/Desgin by Contract/v16/Server/sqlite3/storage.ide-shm
Desgin by Contract/.vs/Desgin by Contract/v16/Server/sqlite3/storage.ide-wal
